body{background-color:cadetblue;
	 background-repeat:repeat;
	 background-size: 100%;
	 background-position: center
	 background-attachment: scroll;
	 font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-size: 15px;
	font-style: normal; 
	 padding: 0;
	 margin-top:4em;
	 width:100%;
		height:100%;}
.align{text-align: right}
p{font-color: black; padding: 10px;
	}
p{font-color: black; padding: 10px;
	}
 h3 {padding: 20px; font-size: 150%; }
.container {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/0/01/Polish_Wikinews_header_image.png);
    width: 93%;
    height: 140px;
    background-size: 100%; /* adjust this to the proper width */
    margin: 0 auto;text-align: left;margin-right: 55px;
}
.container1{
    background-color:#f9fafc;
    width: 100%;
    height: 800px; /* adjust this to the proper width */
    margin-top: 94px;

}
.table{float:right;margin-right:8em;display: inline-block;
	position: relative;color:;
	}
.a0{padding:8px;
	margin:8px;
	font-size: 30px;
	width: 600px;height: 30px;color: black;
	}
.a1{padding:10px;
	margin-right: 15em;
	margin-bottom: 20px;
	line-height: px;
margin-left: 26px;color: #CEE6FA;
	}
.a2{padding:15px;
	margin:15px;
	}
a{text-decoration: none;
color: #CEE6FA;}
a:hover{color:#A6CADA;}
.imgs{float:left;border:solid;
opacity: 1.0;
margin-right: 2%;}
.text {align-items: center;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
      margin-top: 0;
    margin-left: 20px;
    margin-bottom: 150px;
  position: absolute;
  
  width: 100%;
}
.center{margin-left:20%;position: relative;}